<div class="container">

  <div style="margin 0px auto;">
    <h2 style="font-weight: bold;"> Do Your Thing Below<h2>

      <form id="get_tweet" action="/twitter/user" method="POST">
        <input id="handle" type="text" placeholder="Your Twitter Handle" name="handle">
        <br>
        See Followers<input id="see_followers"type="radio" name="see_followers" value="true"><br>
        See Tweets<input id="see_tweets" type="radio" name="see_followers" value="true" checked="checked"><br>
        Tweet @Followers<input id="tweet_followers" type="radio" name="see_followers" value="tweet" checked="checked"><br>
        <input id="GO"type="submit" value="GO!">
      </form>
    </div>

    <div id="add_yo_stuff"></div>

  </div>


